.game-logo-braintickle {
  text-indent:-10000px;
  background:url(../../img/games/whichone/logo.png);
  width:108px;
  height:73px;
  display: inline-block;
}
#game-braintickle-notes {
  margin-top:60px;
  display: inline-block;
}
#game-braintickle-notes li {
  background:url(../../img/games/whichone/note.png) no-repeat ;
  padding:46px 8px 46px 0;
  line-height:1;
  font-size:32px;
  width:300px;
  margin:30px;
  text-transform:lowercase;
  color:gray;
  display: block;
  float: left;
  font-family: 'Delius', cursive;
  position: relative;
  cursor:pointer;
  cursor:hand;
}