#game-clock {
  /* The .clock div. Created dynamically by jQuery */
  /*	background-color:#252525;*/
/*  background:url(../../img/games/clock_empty.png) no-repeat right top;
*/  height:34px;
border-radius: 17px;
  width:34px;
  position:relative;
  overflow:hidden;
}

#game-clock .rotate {
  /* There are two .rotate divs - one for each half of the background */
  position:absolute;
  width:34px;
  height:34px;
  top:0;
  left:0;
}

#game-clock .rotate.right{
  display:none;
  z-index:11;
}

#game-clock .bg, #game-clock .front{
  width:17px;
  height:34px;
/*  background-color:#252525;*/
border-radius: 17px 0 0 17px;
  position:absolute;
  top:0;
}
#game-clock .display{
  /* Holds the number of seconds, minutes or hours respectfully */
  position:absolute;
  z-index:20;
  color:#F5F5F5;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  top:3px;
  right:0;
  left:0;
  text-shadow:0px 3px 6px rgba(0,0,0,.35);
}
/* The left part of the background: */

/* Individual styles for each color: */
#game-clock .bg.left{/* background:url(../../img/games/clock_full.png) no-repeat left top;*/
border-radius: 17px 0 0 17px;
left:0;
}

/* The right part of the background: */
#game-clock .bg.right{
border-radius: 0 17px 17px 0;
/*background:url(../../img/games/clock_full.png) no-repeat right top;
*/  left:17px; }

#game-clock, #game-clock .front{
background-color: #D9E8E7;
}

#game-clock .bg{
background-color: #69B4CA;
}
#game-clock.quick .bg{
background-color: #F6C268;
}

#game-clock.quick .bg{
background-color: #F6C268;
}
#game-clock.quick.veryquick .bg {
  background-color: #F3A967;
}
#game-clock .front.left{
  left:0;
  z-index:10;
}