#user-games-choose {
	position: absolute;
	bottom:70px;
	left: 25%;
}
#user-games-choose li {
	background: url(../../img/games/sign.png) no-repeat top left;
	width: 115px;
	height: 159px;
	display: block;
	position: relative;
	float: left;
	margin-right: -36px;
}
#user-games-choose a {
	position: absolute;
	display: block;
	font-size: 22px;
	top:28px;
	width:100%;
	font-family: 'Lobster', cursive;
	line-height:.8;
   text-shadow:none;
/*	-webkit-text-fill-color: white;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: green;
*/
   -webkit-transform:rotate(-10deg);
	
	color:#9B8066;
	text-shadow: 0 -1px rgba(0, 0, 0, .5), 0 1px rgba(255, 255, 255, .6);

}
/*#user-games-choose a:before {
	content:attr(stroke-text);
	position:absolute;
	 -webkit-text-stroke:0;
	 color:white;
	top:0;
	left:0;
	right: 0;
}
*/#user-games-intro {
	font-family: 'Lobster', cursive;
	font-size:54px
}
.user-games-mainlogo {
	width: 200px;
	display: inline-block;

}
.user-games-mainlogo img {
	max-width: 200px;
	max-height: 140px;
}
.user-games-description {
	float: left;
	clear:both;
	display: block;
	text-align: center;
	width: 100%;
}
.user-games-info {
	position: relative;
	margin: 6px;
	font-size: 12px;
	background: #888;
	color: #FAF1DE;
	border-radius: 50%;
	width: 72px;
	height: 72px;
	display: inline-block;
	z-index: 1;
	font-family: 'Paytone One', sans-serif;
}
.user-games-info::before {
	content: '';
	top:-4px;
	left: -4px;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 2px;
	background:transparent;
	border-radius: 50%;
	border:2px solid #888;
}
.user-games-info b{
	display: block;
	margin-top: .35em;
	font-size: 2.6em;
	line-height: 1.05;
}
#user-games-main {
	height: 210px;
	overflow: hidden;
}
#user-games-choose li:nth-child(2n) {
	top: 60px;
}
.user-games-mainlogo {
	float: left;
	margin:10px;
}
#user-games-selector {
	height:100px;
-webkit-perspective: 600;
-moz-perspective: 600;
}
/*,csstransforms3d*/
#user-games-selector>* {
	position: absolute;
	left:50%;
	top:18px;
	margin-left:-60px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	display: none;
}
#user-games-selector .position--1 {
opacity: 0;
-webkit-transform:  translateX(-250px) translateZ(-100px) rotateY(70deg);
-moz-transform:  translateX(-250px) translateZ(-100px) rotateY(70deg);
}
#user-games-selector .position-0 {
opacity: .3;
-webkit-transform:  translateX(-130px) translateZ(-80px) rotateY(60deg);
-moz-transform:  translateX(-130px) translateZ(-80px) rotateY(60deg);
}
#user-games-selector .position-1 {
opacity: 1;
}
#user-games-selector .position-2 {
opacity: .3;
-webkit-transform:  translateX(130px) translateZ(-80px) rotateY(-60deg);
-moz-transform:  translateX(130px) translateZ(-80px) rotateY(-60deg);
}
#user-games-selector .position-3 {
opacity: 0;
-webkit-transform:  translateX(250px) translateZ(-100px) rotateY(-70deg);
-moz-transform:  translateX(250px) translateZ(-100px) rotateY(-70deg);
}
#user-games-selector .position--1,
#user-games-selector .position-0,
#user-games-selector .position-1,
#user-games-selector .position-2,
#user-games-selector .position-3 {
	display: block;
}
/*#user-games-selector .position--1,
#user-games-selector .position--2,
#user-games-selector .position--3,
#user-games-selector .position--4 {
opacity: 0;
-webkit-transform:  translateX(-250px) translateZ(-90px) rotateY(80deg);
}
#user-games-selector .position-0 {
opacity: .2;
-webkit-transform:  translateX(-170px) translateZ(-70px) rotateY(70deg);
}
#user-games-selector .position-1 {
opacity: .5;
-webkit-transform:  translateX(-100px) translateZ(-70px) rotateY(70deg);
}
#user-games-selector .position-3 {
opacity: .5;
-webkit-transform:  translateX(100px) translateZ(-70px) rotateY(-70deg);
}
#user-games-selector .position-4 {
opacity: .2;
-webkit-transform:  translateX(170px) translateZ(-70px) rotateY(-70deg);
}
#user-games-selector .position-5,
#user-games-selector .position-6 {
opacity: 0;
-webkit-transform:  translateX(250px) translateZ(-90px) rotateY(-80deg);
}*/